.container{background-color:whitesmoke;
opacity:.90;}

body{background-image: url(https://i.pinimg.com/originals/04/1e/56/041e568ee34b82e501f532d972dcbcff.jpg)}

.card-body{background-color:whitesmoke}

.buy-tag{
    font-size: 20px;
    font-weight: bold;
}

.gif{
   width: 640px;
   height: 427px;
}

.event-name{
    font-size: 20px;
    line-height: 0px;
    font-weight: bold;
}